@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.rightres{
    width: 25%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
}

.rightres{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    position: fixed;
    width: 350px;
    height: 350px;
    border-left: 1px solid rgb(0, 166, 255);
    overflow-y: scroll;
    scrollbar-width: 10px;        /* "auto" or "thin" */
  scrollbar-color: rgb(0, 174, 255) #f1f1f1; /* thumb and track */
    
}
 .top{
    display: flex;
    height: 50px;
    width: 300px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
 
    font-family: "Inter";
    font-weight: 550;
    font-size: 14px;
    position:fixed;
    
}
.top .view{
    background-color: white;
    border: none;
    color: rgb(0, 183, 255);
}
.cmt{
    height: 50px;
    width: 400px;
    display: flex;
    border-radius: 5px;
    border: 1px solid rgb(68, 177, 255);
    padding: 10PX;
    justify-content: space-between;

}
.cmt button{
    border: none;
    background-color: white;
    color: rgb(76, 165, 239);
}
 .similar{
    height: 300px;
    width: 100%;
   
}
.similar button{
    height: 45px;
    background-color: rgb(0, 174, 255);
    color: white;
    padding: 10px;
    font-family: "Inter";
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
    transform: scale(.8);
}
button .icon{
    font-size: 19px;
    margin-left: 15px;
    
}