.comment{
    height: auto;
    width: 100%;
    background-color: rgb(239, 251, 255);
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-family: "inter";
}
.comment div{
    display: flex;
    column-gap: 20px;
}
.input{
    width: 700px;
    outline: none;
    border: none;
    height: 100px;
    padding: 10px;
    border-radius: 5px;

}
.sugg{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.sugg button{
    width: auto;
    font-size: 12px;
    padding: 5px;
    border: 1px dotted black;
    border-radius: 5px;
    background-color: rgb(195, 234, 255);
}
.comment .add{
    color: black;
    width: 50px;
    background-color: rgb(195, 234, 255);
    border-radius: 3px;
    font-size: 13px;
    outline: none;
    border: none;
    font-weight: 550;
    transition: all 0.7;
    border: 1px solid gray;
}
.comment .add:hover{
    font-size: 15px;
}